.game-content {
    text-align: left;
    margin-left: 20px;
    margin-right: 20px;
}


.game-content .game-name {
    font-size: 2em;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

.game-score {
    display: flex;
    flex-direction: row;
    background-color: rgb(236, 236, 236);
    width: fit-content;
    height: fit-content;
    padding: 12px;
    border-radius: 5px;
    margin-bottom: 10px;
}

.user-score {
    display: block;
    align-items: center;
    flex-direction: row;
    margin-right: 30px;
    border-radius: 5px;
}

.user-score h4 {
    margin-bottom: 15px;
    margin-top: 2px;
}

.meta-score {
    display: block;
    align-items: center;
    flex-direction: row;
    border-radius: 5px;
}

.meta-score h4 {
    margin-bottom: 15px;
    margin-top: 2px;
}


.game-content .game-date {
    margin-top: 0px;
}

.score-circle {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    background-color: #90c0ec;
    color: white;
    border-radius: 5px;
    font-weight: bold;
    margin: auto; /* Add this line to center the element */
    margin-bottom: 5px;
    margin-top: -5px;
}
.info {
    text-align: left;
}

