<<<<<<< HEAD


=======
.results-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.results-header button {
    margin-bottom: 1.5em;
}
>>>>>>> c56f2d0118aed90048fb095e94d3f0d654d0e3bb

.game-results {
    gap: 25px;
}

#results-header {
    display: flex;
}



.results-content {
    margin-left: 20px;
    margin-right: 20px;
    text-align: left;
}
