.search-bar {
  display: flex;
  justify-content: center;
}

.search-input {
    width: 50%;
    background-color: #BEE0FF;
    font-size: 20px;
    padding: 10px;
    font-family: 'Inter', sans-serif;    
  }
  
  .search-button {
    padding: 5px;
  }