.tabs-info {
    display: flex;
    gap: 16px;
}

.tab-button {
    padding: 5px 10px; 
    background-color: #f0f0f0;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    text-align: left;
}

.tabs-info .tab-button img {
    max-width: 30px;
}

.tab-button.active {
    background-color: #90c0ec; 
}